{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Generate Certificate</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/generate_certificate.css' %}">

</head>
<body>
    <h1>Generate Certificate</h1>
    <form method="POST">
        {% csrf_token %}
        <label for="teacher">Select Teacher:</label>
        <select name="teacher" id="teacher">
            {% for teacher in teachers %}
                <option value="{{ teacher.id }}">{{ teacher.name }}</option>
            {% endfor %}
        </select>
        <label for="student">Select Student:</label>
        <select name="student" id="student">
            {% for student in students %}
                <option value="{{ student.id }}">{{ student.name }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Generate Certificate">
    </form>
</body>
</html>
